/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/*My code starts here*/

h1{
	text-align: center;
	font-size: 48px;
	
}

a{
	color: grey;
	text-decoration: none;
	display: inline-block;
	font-size: 11px;
	margin: 20px;
}

button{
  background-color: white;
  color: black;
  border: 1px solid black;
}

hr {
    
}

.container{
	margin: 0 auto;
	width: 700px;
}

.Navigation {
	width: auto;
	height: 75px;
	margin: 0 auto;
	padding:0px 10px 0px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.navLinks{
	display: flex;
	
}

.navLinks hr{
    visibility: hidden;
 }

 .services-header-img{
     width: 100%;
 }

 .services-info-img{
     padding-top: 25px;
     width: 100%;
 }

.box{
	width: auto;
	height: auto;
	margin: auto;
	padding: auto;
	content:auto;
	display: inline-block;
}

.header{
	width: auto;
	height: auto;
	margin: 10px 0px 20px 0px;
	padding: 10px 0px 75px 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;

}

.title{
	display: flex;
	flex-direction: column;
}



.contentTop{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.content1{
	width: 300;
	height: 150px;
	
}

.middle-img{
    width: 100%;
  height: auto;
}

.contentBottom{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.content2{
	width: 300;
	height: 200px;
	margin-top: 30px;
	display: block;
}

.coppyright{
	text-align: center;
}

/*All the services CSS*/

.box{
	font-size: 14px;
	height: 200px;
	width: 250px;
	margin: 20px;
	padding: 20px 10px 20px 10px;
	background: lightgray;
	border: 1px solid black;
	
}

@media(max-width: 800px){

    .container{
        width: 700px;
    }
    
    .codeImg{
        display: none;
    }

    .Navigation {
        width: 700;
        height: 100px;
        
        padding:0px 10px 0px 10px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
    }

    .navLinks hr{
        visibility: hidden;
    }

    .contentTop{
        width: 400px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .content1{
        width: 150;
        height: 200px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

}

@media(max-width: 500px){
    .container{
        width: 400px;
    }
    
    .codeImg{
        display: none;
    }

    .logo{
        order: 0;
    }

    /*Navigation (500px)*/
    .Navigation {
        width: auto;
        height: 700px; 
        padding:0px 10px 0px 10px;
        flex-direction: column-reverse;
        justify-content: space-around;

    }

    .navLinks{
        height: 400px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navLinks hr{
        visibility: visible;
        align-self: center;
        width: 600px;
        margin-left: 150px;
        margin-right: 150px;
        size: 1px;
    }

    /*Page content (500px)*/

    .contentTop{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .content1{
        width: 300;
        height: 100px;
        margin-top: 30px;
        margin-bottom: 20px;       
    }

    .contentBottom{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .content2{
        width: 300;
        height: 100px;
        margin-top: 30px;
        margin-bottom: 20px;
        display: block;
    }

    .box{
        width: 400;
    }
}

